{% extends 'toto/header.html' %}

{% block content %}
<br>
  <div class="container">
    <ul class="collection">
      <li class="collection-item"><strong>Username: </strong>{{userprofile.username}}</li>
      <li class="collection-item"><strong>Full Name: </strong>{{userprofile.get_full_name}}</li>
      <li class="collection-item"><strong>Email: </strong>{{userprofile.email}}</li>
    </ul>
    {% if user.username == userprofile.username %}
      <p>Click <a href="#"><strong>here</strong></a> to edit your profile</p>
    {% endif %}
    <h4>Check out {{userprofile.username}}'s answers: </h4>
    <ul class="collection">
      {% for ans in answers %}
      <li class="collection-item">
        <h5>{{ans.title}}</h5>
        <p style="font-size: 70%;">{{ans.datePublished}}</p>
        <p>{{ans.content}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
