{% extends 'toto/header.html' %}

{% block content %}
<br>
  <div class="container">
    <center>
    <div class="card" style="width: 50%; background: black; color: white">
      <div class="card-content">
        <form method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button style="background-color:#F4EB16; color:black" class="btn btn-outline-info" type="submit">Login</button>
        </form>
        <p>If you don't already have an account <a href="/register" target="blank"><strong>register</strong></a> for a new account.</p>
      </div>
    </div>
    </center>
  </div>
{% endblock %}
