<footer class="page-footer" style="background: #000000">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text" style="font-family: 'Krona One', sans-serif;">ToToRo</h5>
                  <p class="grey-text text-lighten-4" style="font-family: 'Bungee', cursive;">Made by Namit Kumar</p>
                </div>
                <div class="col l4 offset-l2 s12" style="font-family: 'Bungee', cursive;">
                  <h5 class="white-text">Follow</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/pseudosodium">Github</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright" style="font-family: 'Bungee', cursive;">
              <div class="container">
              © 2020 pseudosodium
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
          </footer>
